.front-slider {
  .container {
    position: relative;
    height: 509px;
  }

}

.front-slider__list {
  position: absolute;
  .owl-nav {
    display: none;
  }

  .owl-dots {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1em;

    .owl-dot {
      display: inline-block;
      background-color: #fff;
      padding: 5px;
      margin: 3px;

      span{
        width: 12px;
        height: 12px;
        display: block;

      }

      &.active span {
          background-color: $accent;
      }
    }
  }
}

.slider-controls  {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  z-index: 1000;

}

.slider-prev,
.slider-next {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: $accent;
  transition: .25s ease;
  &:hover { background-color: $accent-hover;}
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.offer-slider__wrap {
  width: 400px;
  position: absolute;
  z-index: 1000;
  bottom: 2em;
}
.offer-slider__list {
    padding: 2em 1.5em 3em;
    box-sizing: border-box;
    color: #fff;
    background-color: rgba(255, 39, 49, 0.8);

    .owl-controls {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
    }
}
.offer-slider__item {
  padding: 0 0.5em;
  box-sizing: border-box;
}

.front-slider__item {
  width: 100%;
  height: 509px;
  background: center no-repeat;
  background-size: cover;
}


.offer-slider__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.offer-slider__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.offer-slider__more {
  display: block;
  padding-top: 1.5em;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.front-offers {

  padding: 4.3em 0 2em;
  .container {
    display: flex;
  }
  .offers__list {
    flex-direction: column;
    padding: 1em 0;
  }
  .offers__item {
    width: 100%;
    display: flex;
  }

  .offers__title {
    font-size: 1.5em;
    text-decoration: underline;
    margin: -0.375em 0 0.75em;
    &:hover {
      text-decoration: none;
    }
  }
  .offers__img {
    width: 30%;
    height: 100px;
    padding-bottom: 0;
  }
  .offers__wrap {
    width: 70%;
    padding: 0 1em;
    box-sizing: border-box;
  }
}

.front-offers__block {
  width: 50%;

  .text {
    padding-right: 2em;
  }
}


.front-news {
  background:  url('/img/bg/new-bg.png') center bottom 20% no-repeat;
  background-size: cover;

  position: relative;
  .title {color: #fff;}
  &:before {
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 1;
    background-color: rgba(56, 56, 56, 0.9);
  }
}
