.cat-list {
  display: flex;
  margin: 0 -0.5em;
  margin-bottom: 1.75em;

  li {
    display: block;
    padding: 0 0.5em;
  }

  a {
    background-color: #e8e8e8;
    padding: 0.75em 1em;
    color: $main;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: .25s ease;

    &:hover {
      background-color: $accent;
      color: white;
    }
  }


}

.current-cat a {
  background-color: $accent;
  color: white;
}



.post-categories {
  display: flex;
  margin: 0 -0.25em 0.5em;
  a {
    color: #ba1b22;
    padding: 0.5em 0.5em;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .instructions a{ color: #47a0fb; }
  .articles     a{ color: #0a517a; }
  .reviews      a{ color: #ff7d27; }
  .advices      a{ color: #2275a4; }
}

.post__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75em;
}
.post__item {
  width: 50%;
  padding: 0.75em 0.75em;
  box-sizing: border-box;
}

.post__wrap {
  background-color: #fff;
  height: 100%;
  display: flex;
  position: relative;
}

.post__img {
  flex: 1.15;
  background: left center no-repeat;
  background-size: cover;
}
.post__inner {
  box-sizing: border-box;
  padding: 1em  1em;
  flex:2;
  margin-bottom: 40px;
}

.post__title {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
  color: $main;
  margin-bottom: 0.5em;

}

.post__date {
  font-size: 0.875em;
  font-weight: 400;
  color: $minor;
  margin-bottom: 1.3em;
}

.post__more {
  display: block;
  width: 40px;
  height: 40px;
  background: $accent url('/img/icons/next.svg') center no-repeat;
  background-size: 35%;
  transition: .25s ease;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;

  &:hover {
    background-color: $accent-hover;
  }
}


.news-archive {
  padding: 1em 0;
  .title {
    margin-bottom: 1.2em;
  }
}


.other-posts {
  padding: 4em 0;
  .post__item {
    width: 33.33%;
  }

  .post__inner {
    position: relative;
    background: #fff;
    margin-bottom: 0;
  }
}
