.offers {
  padding: 1em 0;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75em;
}

.offers__item {
  width: 25%;
  padding:0 0.75em;
  box-sizing: border-box;
  margin-bottom: 2em;
  .text {
    margin-bottom: 0;
  }
}


.offers__title {
  display: block;
  color: $main;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1em;
  transition: .25s ease;

  &:hover {
    color: $accent;
  }
}

.offers__img {
  width: 100%;
  display: block;
  height: 0;
  padding-bottom: 56%;
  background: url('/img/bg/offer-1.png') center no-repeat;
  background-size: cover;
  margin-bottom: 1em;
  position: relative;
}

.offers__date {
  background-color: rgba(255, 39, 49, 0.8);
  color: #fff;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5em;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.offers__more {
  display: inline;
  font-weight: 600;
  color: $accent;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
