.services {
  padding: 1em 0 3em;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
  // &:after {
  //   content: "";
  //   flex: auto;
  // }

}

.services__item {
  // width: 220px;
  width: 20%;
  padding: 0.75em ;
  box-sizing: border-box;
  height: 250px;
  text-align: center;
  position: relative;
  // margin-bottom: 1.75rem;
}

.services__link {
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
  background-color: #fff;
  font-size: 0.875rem;
  color: $text;
  font-weight: 700;
  text-transform: uppercase;
  transition: .25s ease-in-out;

  &:hover {
    color: $accent;

    .services__btn {opacity: 1;}
  }
}


.services__img {
  margin: 1em 0;
  width: 100%;
  height: 110px;
  background: center no-repeat;
  background-size: contain;
}

.services__btn {
  display: block;
  width: 40px;
  height: 40px;
  background: $accent url('/img/icons/next.svg') center no-repeat;
  background-size: 40%;
  transition: .25s ease;
  align-self: flex-end;
  opacity: 0;
  position: absolute;
  bottom: 1.25em;
  right: 1.25em;


  &:hover {
    background-color: $accent-hover;
  }
}


.other-service {
  background: $main;
  padding: 1em 0;
}
.other-service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1em;
}
.other-service__item {
  width: 25%;
  box-sizing: border-box;
  padding: 1em 1em;
}
.other-service__link {
  color: white;
  font-size: 0.875em;
  text-decoration: underline;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: $accent;
  }
}

.other-service__img {
  width: 80px;
  height: 80px;
  flex:1;
  position: relative;
  box-sizing: border-box;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 100%;
    max-height: 100%;
  }
}

.other-service__title {
  padding-left: 2em;
  flex:2;

  box-sizing: border-box;
}


.front-service {
  background: #f2f2f2;
  padding: 4.3em 0 1em;

  .services__list {
    padding: 0;
    margin: 0 -0.75em;
  }
  .services__item {
    width:25%;
    height: 300px;
  }
  .services__item:nth-child(5),
  .services__item:nth-child(6) {
    width: 50%;
    height: 350px;
    .services__img {
      height: 200px;
    }
  }
}

.tile {
  padding: 2em 0;
}
