/* --------- adjustment --------- */
$container-width: 1200px;
$main: #383838;
$minor: #737373;
$text: #20262e;
$accent: #ff2731;
$accent-hover: #ad1a21;


/* --------- base --------- */
html {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $main;
}
.container {
  width: $container-width;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}
.wrapper {
  position: relative;
  // min-height: 100%;
  // height: auto !important;
  // height: 100%;
  overflow: hidden;
  min-width: $container-width + 40px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    left: 0;
    list-style: none outside none;
  }
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

button{
  outline: none;
  border: none;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, textarea {
  border: none;
}

address {
  font-style: normal;
}

@media screen and (max-width: 1000px) {
  // .container {
  //   width: 100%;
  //   box-sizing: border-box;
  // }
  // .wrapper {
  //   min-width: 100%;
  // }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  padding: 0;
}

/* == WordPress WYSIWYG Editor Styles == */

.entry-content img {
  margin: 0 0 1.5em 0;
  }
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
  }
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
  }
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
  }
.alignnone, img.alignnone {
  /* not sure about this one */
  }
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
  }
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
  }
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
  }
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
  }
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
  }
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
  }