.article {
  // padding: 3em 0;
}

.article__title {
  color: $main;
  margin: 0;
  font-size: 2.25em;
  font-weight: 700;
}

.article__date {
  color: $minor;
  font-size: 0.875rem;
  padding: 0.5em 0;
  display: block;
  margin-bottom: 0.75em;
}

.content {
  max-width: 780px;
  margin: 0 auto 1em;
}

.text {
  color:$text;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75em;
  margin-bottom: 2em;

  b {
    font-weight: 700;
  }
  p {
    margin-bottom: 0.75em;
  }

  ul {
    padding-left: 0.5em;
    margin-bottom:  1em;
    padding-left: 2em;
  }

  li{
    display: list-item;
    list-style: initial;
    list-style-position: outside;
  }
  a {
    color: $text;

    &:hover {text-decoration: none;}
  }
}


.photogallery {
  margin-bottom: 1em;
  background-color: #f2f2f2;
}


.service__banner {
  background:  url('/img/bg/service-bg.png')center no-repeat;
  background-size: cover;

  .container {
    min-height: 300px;
    position: relative;
  }
}

.service__title {
  width: 450px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1em 0;
  color: #fff;
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(255, 39, 49, 0.8);

  span {
    position: absolute;
    top: 50%;
    padding: 0 0.5em;
    transform: translateY(-50%);
  }
}
.service .section {
  padding: 2em 0;
}
.service__top {
  background-color: #f2f2f2;

  .content {
    padding: 0.5em 0 1.5em;
  }
}


.table {
  width: 100%;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 2em;

  thead {
    background-color: $accent;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

  th {
    padding: 1em 0.5em;
    border-right: 1px solid #ffffff;
  }

  td {
    border: 1px solid #f2f2f2;
    padding: 1em 0.5em;
  }
}

.table__row {
  border-bottom: 1px solid  #f2f2f2;
  border-top: 1px solid  #f2f2f2;

}

.table__caption {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5em;
}

.video-block {
  padding: 2em;
}
