.dark {
  background-color: #f2f2f2;
}

.section {
  padding: 1em 0;
}


.title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  padding: 0 0.5em;
  margin-bottom: 1em;
  border-left:  10px solid $accent;

  & > .subtitle {
    font-size: 0.875rem;
    margin-bottom: 0;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}


.all-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  padding: 0.5em 1em;
}

.breadcrumbs {
  padding: 1em 0;
  color: $main;
  font-size: 0.875rem;
  margin-left: -0.5em;

  a {
    padding: 0.25em 0;
    font-size: 0.875rem;
    color: $accent;
    display: block;

    span {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  span {
    padding: 0.25em 0.25em;
    display: inline-block;
  }


}


.btn {
  display: block;
  background: $accent;
  color: #fff;
  padding: 0.75em;
  transition: .25s ease;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color:$accent-hover;
  }
}

.slider__list {
  padding: 2em 0;
  margin-bottom: 2em;
  .owl-prev,
  .owl-next {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: $accent;
    transition: .25s ease;
    &:hover { background-color: $accent-hover;}
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
  .owl-controls {
    position: absolute;
    bottom: 2.5em;
    right: 0.5em;
  }
}

.slider__item {
  height: 157px;
  background: center no-repeat;
  background-size: cover;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}


.pagination {
  text-align: center;
  padding: 1.25em 0;
  ul {
    width: 100%;
    text-align: center;
  }

  .page-numbers{
    color: #20262e;
    font-size: 0.875em;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    color: $main;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: .25s ease;

    &:hover { color:  $accent;}
    &.current {
      background: $accent;
      color: #fff;
      &:hover { color: #fff; }
    }

    svg {
      max-width: 60%;
      max-height: 60%;
      fill: #bababa;
      transition: .25s ease;
    }

    &.next, &.prev  {
      padding-top: 0.5em;
      &:hover svg{ fill: $accent;  }
      box-sizing: border-box;
    }
  }
}
