.contact {
  padding-top: 1em;

  .title {
    margin-bottom: 1.4em;
  }
}

.contact__list {
  display: flex;
  margin-left:-0.75em;
}

.contact__block {
  width: 25%;
  padding: 0.75em;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.71;

  .subtitle {
    margin-bottom: 0.75em;
    line-height: 1.25em;
  }

  a:hover {
    text-decoration: underline;
  }

}

.contact__link {
  display: block;
}


.contact__item  {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.75em;
  color: $main;
  position: relative;
  padding-left: 1.6em;
}
.contact__icon {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 1rem;
  height: 1rem;

  svg {
    max-width: 100%;
    max-height: 100%;
    fill: $accent;
  }
}
.contact__img {
  height: 0;
  padding-bottom: 38%;
  background: center no-repeat;
  background-size: cover;
  margin-bottom: 1em;
}


#map {
  height: 520px;
}

address.contact__item .contact__icon{
  top: 5px;
}
