.footer {
  min-width: $container-width + 40px;
  background-color: #e8e8e8;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .contact__icon svg {
    fill: white;
  }
}

.footer__contact-wrap {
  padding: 1em;
  background: $accent;
  color: #fff;
}
.footer__block {
  padding: 1em 0.75em;
}
.footer__title {
  color: #20262e;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.4em;
}
.footer__list {

  li {}
  a {
    display: block;
    padding: 0.5em 0;
    color: $minor;
    font-size: 0.875rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.description {
  font-size: 0.875em;
  color: $minor;
  line-height: 1.71;
}
.footer__bottom {
  background-color: #fff;
  .container {
    align-items:center;
  }
}

.copyright {
  color: $minor;
  font-size: 0.875rem;
}

.footer__info {
  width: 60%;
  .logo__wrap {
    margin-bottom: 0.9em;
  }
}
.footer__wrap {
  display: flex;
  width: 45%;
}
.footer__list-wrap {
  padding: 1.75em 1em;
  display: flex;
  width: 55%;
}

.footer__info {
  align-self: center;
  padding-right: 1.5em;
}


.footer__contact-wrap {
  padding: 2.1em 1em 1em;
  width: 40%;
}
.footer__contact {
  .contact__item { color: white; }
  svg { fill: white; }

  a {
    white-space: nowrap;
    &:hover { text-decoration: underline; }
  }
}


.social {}
.social__link {
  display: inline-block;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  margin: 0 3px;
  transition: .25s ease;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  &:hover {
    opacity: 1;
  }
}


.substrate {
  background: url('/img/bg/feedback.png') center no-repeat;
  background-size: cover;
  position: relative;
  padding: 1.5em 0 0.75em;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(242, 242, 242, 0.9);
   }

   .content {
     position: relative;
     z-index: 1;
   }
}
