.label {
  display: block;
  width: 100%;
  font-size: 0.875em;
  margin-bottom: 0.5em;
}
.input {
  display: block;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  background: #f5f5f5;
  border:1px solid #cfd8dc;
  font-size: 0.875em;
  @include placecolor( rgba(56, 56, 56, 0.4));
  margin-bottom: 1em;
}

.textarea {
  border:1px solid #cfd8dc;
  background: #f5f5f5;
  padding: 0.5em;
  @include placecolor( rgba(56, 56, 56, 0.4));
  font-size: 0.875em;
  box-sizing: border-box;
  display: block;
  width: 100%;
}


.feedback {
  padding: 1em 0 2em;
  background: url('/img/bg/feedback.png') center no-repeat;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(242, 242, 242, 0.9);
   }

}
#comments-status {
  float: right;
  display: none;
  font-size: 1em;
  font-weight: normal;
}
.form-submit {
  text-align: right;
  padding-top: 0.5em;
  .btn {
    display: inline-block;
  }
}
.comment-respond {
  padding: 1.5em 2em 2em;
  margin-top: 2.5em ;
  background: #fff;
}

.comments-wrap {
  display: flex;
  margin: 0 -1em;
  .input {
    padding: 0.75em;
  }
}

.comment-form-author,
.comment-form-email {
  width: 50%;
  padding: 1em;
  box-sizing: content-box;
}

.comment-reply-title {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
.logged-in-as {
  margin-bottom: 1em;
  a {
    color: $main;
    font-size: 0.875em;
    text-decoration: underline;

    &:hover {color: $accent;}
  }
}
.comment-list {
  font-size: 0.875em;
  padding: 0.5em 0 1.5em;
}
.comment-item {
  padding: 1em 0;

}
.comment-author {
  font-weight: 700;
  margin-right: 1em;
}
.comment-meta {
  margin-bottom: 0.75em;
}
.comment-date {
  color: $minor;
}

.comment-text {
  line-height: 1.75em;
}
