.header {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding-top: 1em;
  &>.container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
  }
  transition: .25s ease;
}



.fix-header {
  .header .main-nav { display: none; }
  .header__contact {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .header__tel { padding-left: 0.5em; }
  .menu__list {
    margin-right: 0.5em;
    li.fix-show  { display: inline-block; }
  }
  .to-Top  { visibility: visible; }


  .header {
    padding: 0;
    &>.container { padding: 0.25em 1em 0; }
  }

  .logo__icon {
    width: 30px;
    height: 30px;
  }

  .logo__block{
    line-height: 1em;
    span {
      line-height: 1em;
      font-size: 1.125em;
    }
  }

  .class__title,
  .class__list a {
    padding: 0.5em 0.25em;
  }

  .order-btn,
  .call-btn {
    font-size: 0;
    width: 32px;
    height: 32px;
  }
}

.logo__wrap {
  padding: 0.25em 0.5em;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 270px;
}

.logo__icon{
  width: 74px;
  height: 74px;
  margin-right: 1.3em;
  transition: .35s ease;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.logo__block {

  color: #231f20;
  font-size: 0.938rem;
  span {
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    color: $accent;
    font-size: 2rem;
    line-height: 1.3em;
  }
}




.order-btn {
  display: block;
  background: $main url('/img/icons/gear.svg') 7px center no-repeat;
  background-size: 17px 20px;
  color: #fff;
  padding: 0.75em;
  padding-left: 2.5em;
  transition: .25s ease;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color:lighten($main, 10%);
  }
}

.header__contact {
  text-align: right;
  padding: 0 0.75em;
}
.header__tel {
  display: block;
  color: $main;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5em 0;
  margin-bottom: 0.8em;

  &:before {
    content: '';
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.25em;
    display: inline-block;
    vertical-align: middle;
    background: url('/img/icons/phone.svg') center no-repeat;
    background-size: contain;
  }

}
.call-btn {
  display: block;
  background: $accent url('/img/icons/calendar.svg') 7px center no-repeat;
  background-size: 17px 20px;
  color: #fff;
  padding: 0.75em;
  padding-left: 2.5em;
  transition: .25s ease;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color:$accent-hover;
  }
}
