.modal {
  position: fixed;
  top: 49.5%;
  left: 49.5%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1010;
  // background: #fff;
  width: 380px;
  max-width: 100%;
  max-height: 100%;
  visibility: hidden;

  &.modal-show { visibility: visible; }
  .textarea { margin-bottom: 1em; }
}

.modal__content {
  padding: 1.5em;
  box-sizing: border-box;
  transform: translateY(20%);
  background: #fff;
  opacity: 0;
  transition: all 0.3s;
}

.modal-show .modal__content {
  transform: translateY(0);
  opacity: 1;
}

.modal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  background: url('/img/icons/close.svg') center no-repeat;
  background-size: contain;
  opacity: 0.2;
  transition: .25s ease;

  &:hover {
    opacity: 0.75;
  }
}

.overlay {
  position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
  opacity: 0;
	top: 0;
	left: 0;
	z-index: 1002;
  background: rgba(56, 56, 56, 0.93);
	transition: all 0.3s;
}

.modal-show ~ .overlay {
	opacity: 1;
	visibility: visible;
}

.modal__success {
  display: none;
}
