.models {
  padding: 5em 0 1em;
}

.models-nav {
  font-size: 0.875rem;
  padding: 2em 0;
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .menu > li{
    width: 15%;
    margin: 0.5em;
    // background-color: #f2f2f2;
    padding: 0.75em;
    box-sizing: border-box;
    position: relative;
    transition: .25s ease;

    &:hover {
      background-color: #f2f2f2;
    }

    &:hover .sub-menu {
      max-height: 1000px;
    }

    &:hover .menu_models:before {
      transform: rotate(60deg);
      // border-width: 0 4px 7px 4px;
      // border-color: transparent transparent $accent transparent;
    }
  }

  a { display: block; }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  .sub-menu {
    background: $main;
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    top: 100%;
    transition: .45s ease-in-out;
    max-height: 0;
    z-index: 9;

    .menu_title {
      color: #fff;
      font-weight: 400;
      padding: 0.35em 0.75em;
        &:hover {
          background: lighten($main, 5%);
          color: $accent;
        }
    }
  }
}

.menu_thumb {
  height: 5em;
  background: center no-repeat;
  background-size: contain;
}

.menu_title {
  font-weight: 700;
  text-transform: uppercase;
  color: $main;
  transition: .25s ease;

  &:hover {
    color: $accent;
  }
}

.menu_models {
  color: $minor;
  cursor: pointer;
  padding-right: 1.5em;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-right: 5px;
    transition: .25s ease;
    margin-bottom: 2px;
    border-style: solid;
    border-width: 7px 4px 0 4px;
    border-color: $accent transparent transparent transparent;
  }
}


.class {
  background-color: #e8e8e8;
  text-align: center;
  font-size: 0.875em;

  .container {
    position: relative;
  }
}

.class__title {
  display: inline-block;
  padding: 0.75em;
  font-weight: 700;
  color: $main;
  margin: 0;
}

.class__list {
  display: inline-block;
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 0.75em 0.2em;
    font-weight: 700;
    color: $minor;
    transition: 0.25s ease;

    &:hover {
      color: $accent;
    }
  }
}


.to-Top {
  visibility: hidden;
  position: absolute;
  right: 2.5em;
  top: 52%;
  opacity: 0.25;
  transition: .25s ease;
  transform: translateY(-50%);

  &:hover {
    opacity:0.5;
  }
}
