.main-nav {
  transition: .25s ease;
  margin-bottom: 0.8em;
  ul {
    display: flex;
    justify-content: flex-end;
  }

  li:first-child a:before {
    display: none;
  }

  a {
    padding: 0.5em 0;
    display: block;
    color: $text;
    font-size: 1rem;
    transition: .25s ease;


    &:before {
      content: '|';
      display: inline-block;
      padding:  0 0.25em;
    }

    &:hover {
      color: $accent;
    }
    &:hover:before {
      color:$main;
    }
  }
}

.extra-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .order-btn {
    margin-left: 1.5em;
  }

  .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: 0.75em;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 0.188em 0.313em rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ;
    padding-top: 10px;
    box-sizing: border-box;


    &:before {
      content: '';
      width: 0;
      height: 0;
      top:0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-color: transparent transparent rgba(56, 56, 56, 0.9) transparent;
    }

    li {
      display: block;
      background-color: rgba(56, 56, 56, 0.9);
    }
    a {
      font-size: 0.875em;
      color: #fff;
      padding: 0.5em 1em;
      &:hover {
        background-color: #525252;
      }
      &:before {
        display: none;
      }
    }
  }
}

.menu__list {
  li {
    display: inline-block;
    position: relative;

    &.fix-show { display: none; }
  }


  & > li {
      &:hover .sub-menu {
        visibility: visible;
        opacity: 1;
      }
      &:first-child a:before {
        display: none;
      }
      a {
        &:before {
          content: '|';
          display: inline-block;
          padding:  0 0.5em;
        }
      }
  }

  a {
    padding: 0.5em 0;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: $main;
    transition: .25s ease;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
    &:hover:before {
      color:$main;
    }
  }

}
