/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* --------- adjustment --------- */
/* --------- base --------- */
html {
  width: 100%;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #383838; }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px; }

.wrapper {
  position: relative;
  overflow: hidden;
  min-width: 1240px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    padding: 0;
    left: 0;
    list-style: none outside none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none;
  background: transparent; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input, textarea {
  border: none; }

address {
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  padding: 0; }

/* == WordPress WYSIWYG Editor Styles == */
.entry-content img {
  margin: 0 0 1.5em 0; }

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone, img.alignnone {
  /* not sure about this one */ }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px; }

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0; }

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

/* This stylesheet generated by Transfonter (http://transfonter.org) on August 8, 2016 7:27 AM */
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/subset-OpenSans-Extrabold.eot");
  src: url("/fonts/subset-OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("/fonts/subset-OpenSans-Extrabold.woff2") format("woff2"), url("/fonts/subset-OpenSans-Extrabold.woff") format("woff"), url("/fonts/subset-OpenSans-Extrabold.ttf") format("truetype"), url("/fonts/subset-OpenSans-Extrabold.svg#OpenSans-Extrabold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/subset-OpenSans.eot");
  src: url("/fonts/subset-OpenSans.eot?#iefix") format("embedded-opentype"), url("/fonts/subset-OpenSans.woff2") format("woff2"), url("/fonts/subset-OpenSans.woff") format("woff"), url("/fonts/subset-OpenSans.ttf") format("truetype"), url("/fonts/subset-OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/subset-OpenSans-Bold.eot");
  src: url("/fonts/subset-OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/subset-OpenSans-Bold.woff2") format("woff2"), url("/fonts/subset-OpenSans-Bold.woff") format("woff"), url("/fonts/subset-OpenSans-Bold.ttf") format("truetype"), url("/fonts/subset-OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

/*! lightgallery - v1.2.22 - 2016-07-20
* http://sachinchoolur.github.io/lightGallery/
* Copyright (c) 2016 Sachin N; Licensed Apache 2.0 */
@font-face {
  font-family: 'lg';
  src: url("/fonts/lg.eot?n1z373");
  src: url("/fonts/lg.eot?#iefixn1z373") format("embedded-opentype"), url("/fonts/lg.woff?n1z373") format("woff"), url("/fonts/lg.ttf?n1z373") format("truetype"), url("/fonts/lg.svg?n1z373#lg") format("svg");
  font-weight: normal;
  font-style: normal; }

.lg-icon {
  font-family: 'lg';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lg-actions .lg-next, .lg-actions .lg-prev {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 1080; }

.lg-actions .lg-next.disabled, .lg-actions .lg-prev.disabled {
  pointer-events: none;
  opacity: 0.5; }

.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
  color: #FFF; }

.lg-actions .lg-next {
  right: 20px; }

.lg-actions .lg-next:before {
  content: "\e095"; }

.lg-actions .lg-prev {
  left: 20px; }

.lg-actions .lg-prev:after {
  content: "\e094"; }

@-webkit-keyframes lg-right-end {
  0% {
    left: 0; }
  50% {
    left: -30px; }
  100% {
    left: 0; } }

@keyframes lg-right-end {
  0% {
    left: 0; }
  50% {
    left: -30px; }
  100% {
    left: 0; } }

@-webkit-keyframes lg-left-end {
  0% {
    left: 0; }
  50% {
    left: 30px; }
  100% {
    left: 0; } }

@keyframes lg-left-end {
  0% {
    left: 0; }
  50% {
    left: 30px; }
  100% {
    left: 0; } }

.lg-outer.lg-right-end .lg-object {
  -webkit-animation: lg-right-end 0.3s;
  animation: lg-right-end 0.3s;
  position: relative; }

.lg-outer.lg-left-end .lg-object {
  -webkit-animation: lg-left-end 0.3s;
  animation: lg-left-end 0.3s;
  position: relative; }

.lg-toolbar {
  z-index: 1082;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45); }

.lg-toolbar .lg-icon {
  color: #999;
  cursor: pointer;
  float: right;
  font-size: 24px;
  height: 47px;
  line-height: 27px;
  padding: 10px 0;
  text-align: center;
  width: 50px;
  text-decoration: none !important;
  outline: medium none;
  transition: color 0.2s linear; }

.lg-toolbar .lg-icon:hover {
  color: #FFF; }

.lg-toolbar .lg-close:after {
  content: "\e070"; }

.lg-toolbar .lg-download:after {
  content: "\e0f2"; }

.lg-sub-html {
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  color: #EEE;
  font-size: 16px;
  left: 0;
  padding: 10px 40px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1080; }

.lg-sub-html h4 {
  margin: 0;
  font-size: 13px;
  font-weight: bold; }

.lg-sub-html p {
  font-size: 12px;
  margin: 5px 0 0; }

#lg-counter {
  color: #999;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 12px;
  vertical-align: middle; }

.lg-toolbar, .lg-prev, .lg-next {
  opacity: 1;
  transition: opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear, -webkit-transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear;
  transition: transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear, -webkit-transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-hide-items .lg-prev {
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

.lg-hide-items .lg-next {
  opacity: 0;
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0); }

.lg-hide-items .lg-toolbar {
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0, 0, 0.25, 1), -webkit-transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s !important;
  transition: transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s, opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
  transition: transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s, opacity 250ms cubic-bezier(0, 0, 0.25, 1), -webkit-transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s !important;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-outer .lg-thumb-outer {
  background-color: #0D0A0A;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1080;
  max-height: 350px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lg-outer .lg-thumb-outer.lg-grabbing .lg-thumb-item {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

.lg-outer .lg-thumb-outer.lg-dragging .lg-thumb {
  transition-duration: 0s !important; }

.lg-outer.lg-thumb-open .lg-thumb-outer {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0); }

.lg-outer .lg-thumb {
  padding: 10px 0;
  height: 100%;
  margin-bottom: -5px; }

.lg-outer .lg-thumb-item {
  border-radius: 5px;
  cursor: pointer;
  float: left;
  overflow: hidden;
  height: 100%;
  border: 2px solid #FFF;
  border-radius: 4px;
  margin-bottom: 5px; }

@media (min-width: 1025px) {
  .lg-outer .lg-thumb-item {
    transition: border-color 0.25s ease; } }

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #a90707; }

.lg-outer .lg-thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.lg-outer.lg-has-thumb .lg-item {
  padding-bottom: 120px; }

.lg-outer.lg-can-toggle .lg-item {
  padding-bottom: 0; }

.lg-outer.lg-pull-caption-up .lg-sub-html {
  transition: bottom 0.25s ease; }

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
  bottom: 100px; }

.lg-outer .lg-toogle-thumb {
  background-color: #0D0A0A;
  border-radius: 2px 2px 0 0;
  color: #999;
  cursor: pointer;
  font-size: 24px;
  height: 39px;
  line-height: 27px;
  padding: 5px 0;
  position: absolute;
  right: 20px;
  text-align: center;
  top: -39px;
  width: 50px; }

.lg-outer .lg-toogle-thumb:after {
  content: "\e1ff"; }

.lg-outer .lg-toogle-thumb:hover {
  color: #FFF; }

.lg-outer .lg-video-cont {
  display: inline-block;
  vertical-align: middle;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 0 5px; }

.lg-outer .lg-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative; }

.lg-outer .lg-video .lg-object {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.lg-outer .lg-video .lg-video-play {
  width: 84px;
  height: 59px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -42px;
  margin-top: -30px;
  z-index: 1080;
  cursor: pointer; }

.lg-outer .lg-has-vimeo .lg-video-play {
  background: url("/img/vendor/vimeo-play.png") no-repeat scroll 0 0 transparent; }

.lg-outer .lg-has-vimeo:hover .lg-video-play {
  background: url("/img/vendor/vimeo-play.png") no-repeat scroll 0 -58px transparent; }

.lg-outer .lg-has-html5 .lg-video-play {
  background: transparent url("/img/vendor/video-play.png") no-repeat scroll 0 0;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  width: 64px;
  opacity: 0.8; }

.lg-outer .lg-has-html5:hover .lg-video-play {
  opacity: 1; }

.lg-outer .lg-has-youtube .lg-video-play {
  background: url("/img/vendor/youtube-play.png") no-repeat scroll 0 0 transparent; }

.lg-outer .lg-has-youtube:hover .lg-video-play {
  background: url("/img/vendor/youtube-play.png") no-repeat scroll 0 -60px transparent; }

.lg-outer .lg-video-object {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0; }

.lg-outer .lg-has-video .lg-video-object {
  visibility: hidden; }

.lg-outer .lg-has-video.lg-video-playing .lg-object, .lg-outer .lg-has-video.lg-video-playing .lg-video-play {
  display: none; }

.lg-outer .lg-has-video.lg-video-playing .lg-video-object {
  visibility: visible; }

.lg-progress-bar {
  background-color: #333;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1083;
  opacity: 0;
  transition: opacity 0.08s ease 0s; }

.lg-progress-bar .lg-progress {
  background-color: #a90707;
  height: 5px;
  width: 0; }

.lg-progress-bar.lg-start .lg-progress {
  width: 100%; }

.lg-show-autoplay .lg-progress-bar {
  opacity: 1; }

.lg-autoplay-button:after {
  content: "\e01d"; }

.lg-show-autoplay .lg-autoplay-button:after {
  content: "\e01a"; }

.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-img-wrap, .lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-image {
  transition-duration: 0s; }

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  transition: left 0.3s cubic-bezier(0, 0, 0.25, 1) 0s, top 0.3s cubic-bezier(0, 0, 0.25, 1) 0s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-image {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s !important;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.15s !important;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s !important;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#lg-zoom-in:after {
  content: "\e311"; }

#lg-actual-size {
  font-size: 20px; }

#lg-actual-size:after {
  content: "\e033"; }

#lg-zoom-out {
  opacity: 0.5;
  pointer-events: none; }

#lg-zoom-out:after {
  content: "\e312"; }

.lg-zoomed #lg-zoom-out {
  opacity: 1;
  pointer-events: auto; }

.lg-outer .lg-pager-outer {
  bottom: 60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1080;
  height: 10px; }

.lg-outer .lg-pager-outer.lg-pager-hover .lg-pager-cont {
  overflow: visible; }

.lg-outer .lg-pager-cont {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  margin: 0 5px; }

.lg-outer .lg-pager-cont:hover .lg-pager-thumb-cont {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.lg-outer .lg-pager-cont.lg-pager-active .lg-pager {
  box-shadow: 0 0 0 2px white inset; }

.lg-outer .lg-pager-thumb-cont {
  background-color: #fff;
  color: #FFF;
  bottom: 100%;
  height: 83px;
  left: 0;
  margin-bottom: 20px;
  margin-left: -60px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  width: 120px;
  border-radius: 3px;
  transition: opacity 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
  transition: opacity 0.15s ease 0s, transform 0.15s ease 0s;
  transition: opacity 0.15s ease 0s, transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0); }

.lg-outer .lg-pager-thumb-cont img {
  width: 100%;
  height: 100%; }

.lg-outer .lg-pager {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.7) inset;
  display: block;
  height: 12px;
  transition: box-shadow 0.3s ease 0s;
  width: 12px; }

.lg-outer .lg-pager:hover, .lg-outer .lg-pager:focus {
  box-shadow: 0 0 0 8px white inset; }

.lg-outer .lg-caret {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px dashed;
  bottom: -10px;
  display: inline-block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  vertical-align: middle;
  width: 0; }

.lg-fullscreen:after {
  content: "\e20c"; }

.lg-fullscreen-on .lg-fullscreen:after {
  content: "\e20d"; }

.group {
  *zoom: 1; }

.group:before, .group:after {
  display: table;
  content: "";
  line-height: 0; }

.group:after {
  clear: both; }

.lg-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  opacity: 0;
  transition: opacity 0.15s ease 0s; }

.lg-outer * {
  box-sizing: border-box; }

.lg-outer.lg-visible {
  opacity: 1; }

.lg-outer.lg-css3 .lg-item.lg-prev-slide, .lg-outer.lg-css3 .lg-item.lg-next-slide, .lg-outer.lg-css3 .lg-item.lg-current {
  transition-duration: inherit !important;
  transition-timing-function: inherit !important; }

.lg-outer.lg-css3.lg-dragging .lg-item.lg-prev-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-next-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-current {
  transition-duration: 0s !important;
  opacity: 1; }

.lg-outer.lg-grab img.lg-object {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lg-outer.lg-grabbing img.lg-object {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

.lg-outer .lg {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%; }

.lg-outer .lg-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap; }

.lg-outer .lg-item {
  background: url("/img/vendor/loading.gif") no-repeat scroll center center transparent;
  display: none !important; }

.lg-outer.lg-css3 .lg-prev-slide, .lg-outer.lg-css3 .lg-current, .lg-outer.lg-css3 .lg-next-slide {
  display: inline-block !important; }

.lg-outer.lg-css .lg-current {
  display: inline-block !important; }

.lg-outer .lg-item, .lg-outer .lg-img-wrap {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%; }

.lg-outer .lg-item:before, .lg-outer .lg-img-wrap:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px; }

.lg-outer .lg-img-wrap {
  position: absolute;
  padding: 0 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.lg-outer .lg-item.lg-complete {
  background-image: none; }

.lg-outer .lg-item.lg-current {
  z-index: 1060; }

.lg-outer .lg-image {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important; }

.lg-outer.lg-show-after-load .lg-item .lg-object, .lg-outer.lg-show-after-load .lg-item .lg-video-play {
  opacity: 0;
  transition: opacity 0.15s ease 0s; }

.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-object, .lg-outer.lg-show-after-load .lg-item.lg-complete .lg-video-play {
  opacity: 1; }

.lg-outer .lg-empty-html {
  display: none; }

.lg-outer.lg-hide-download #lg-download {
  display: none; }

.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: rgba(56, 56, 56, 0.93);
  opacity: 0;
  transition: opacity 0.15s ease 0s; }

.lg-backdrop.in {
  opacity: 1; }

.lg-css3.lg-no-trans .lg-prev-slide, .lg-css3.lg-no-trans .lg-next-slide, .lg-css3.lg-no-trans .lg-current {
  transition: none 0s ease 0s !important; }

.lg-css3.lg-use-css3 .lg-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.lg-css3.lg-use-left .lg-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.lg-css3.lg-fade .lg-item {
  opacity: 0; }

.lg-css3.lg-fade .lg-item.lg-current {
  opacity: 1; }

.lg-css3.lg-fade .lg-item.lg-prev-slide, .lg-css3.lg-fade .lg-item.lg-next-slide, .lg-css3.lg-fade .lg-item.lg-current {
  transition: opacity 0.1s ease 0s; }

.lg-css3.lg-slide.lg-use-css3 .lg-item {
  opacity: 0; }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide.lg-use-left .lg-item {
  opacity: 0;
  position: absolute;
  left: 0; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide {
  left: -100%; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide {
  left: 100%; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
  left: 0;
  opacity: 1; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
  transition: left 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s; }
.fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after, .fotorama__stage__shaft, .fotorama__stage__frame, .fotorama__img, .fotorama__html, .fotorama__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.fotorama--fullscreen, .fotorama__img {
  max-width: 99999px !important;
  max-height: 99999px !important;
  min-width: 0 !important;
  min-height: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important; }

.fotorama__wrap .fotorama__grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.fotorama__grabbing * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

.fotorama__spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important; }

.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__video-play, .fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.fotorama__caption, .fotorama__wrap--css3 .fotorama__spinner, .fotorama__wrap--css3 .fotorama__stage,
.fotorama__wrap--css3 .fotorama__nav,
.fotorama__wrap--css3 .fotorama__stage__frame, .fotorama__wrap--css3 .fotorama__stage .fotorama__img,
.fotorama__wrap--css3 .fotorama__html, .fotorama__stage:before, .fotorama__stage:after, .fotorama__nav:before, .fotorama__nav:after {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.fotorama__nav__frame {
  outline: 0; }

.fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after {
  content: '';
  border-radius: inherit;
  background-color: rgba(0, 176, 235, 0.5); }

.fotorama__wrap--video .fotorama__stage__shaft,
.fotorama__wrap--video .fotorama__stage,
.fotorama__wrap--video .fotorama__stage__frame--video, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important; }

.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
  transition-property: width, -webkit-transform;
  transition-property: transform, width;
  transition-property: transform, width, -webkit-transform;
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  transition-duration: 0ms; }

.fotorama__wrap, .fotorama__no-select, .fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.fotorama__select {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text; }

.fotorama__nav, .fotorama__nav__frame {
  margin: auto;
  padding: 0; }

.fotorama__nav__shaft, .fotorama__nav__frame, .fotorama__caption__wrap {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1; }

.fotorama__nav__frame, .fotorama__thumb-border {
  box-sizing: content-box; }

.fotorama__caption__wrap {
  box-sizing: border-box; }

.fotorama--hidden, .fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1; }

.fotorama__stage__shaft, .fotorama__stage__frame, .fotorama__nav, .fotorama__nav__shaft, .fotorama__nav__frame, .fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  -webkit-tap-highlight-color: transparent; }

.fotorama__video-play, .fotorama__video-close {
  background: url("/img/vendor/fotorama.png") no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .fotorama__video-play, .fotorama__video-close {
      background: url("/img/vendor/fotorama@2x.png") no-repeat;
      background-size: 96px 160px; } }

.fotorama__thumb {
  background-color: gray;
  background-color: rgba(128, 128, 128, 0.2); }

@media print {
  .fotorama__video-play, .fotorama__video-close, .fotorama__thumb-border {
    background: none !important; } }

.fotorama {
  min-width: 1px;
  overflow: hidden; }
  .fotorama:not(.fotorama--unobtrusive) > *:not(:first-child) {
    display: none; }

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background: #000; }

.fotorama--fullscreen {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  float: none !important;
  z-index: 2147483647 !important;
  background: #000;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important; }
  .fotorama--fullscreen .fotorama__stage,
  .fotorama--fullscreen .fotorama__nav {
    background: #000; }

.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
  direction: ltr;
  z-index: 0; }

.fotorama__wrap--rtl .fotorama__stage__frame {
  direction: rtl; }

.fotorama__stage,
.fotorama__nav {
  overflow: hidden;
  position: relative;
  max-width: 100%; }

.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y; }

.fotorama__wrap .fotorama__pointer {
  cursor: pointer; }

.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important; }

.fotorama__stage__frame {
  overflow: hidden; }
  .fotorama__stage__frame.fotorama__active {
    z-index: 8; }

.fotorama__wrap--fade .fotorama__stage__frame {
  display: none; }

.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active,
.fotorama__wrap--fade .fotorama__fade-front,
.fotorama__wrap--fade .fotorama__fade-rear {
  display: block;
  left: 0;
  top: 0; }

.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 8; }

.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 7; }
  .fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
    z-index: 9; }

.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none; }

.fotorama__img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: none !important; }
  .fotorama__loaded .fotorama__img,
  .fotorama__error .fotorama__img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; }

.fotorama__img--full {
  display: none; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img {
  display: none; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block; }

.fotorama__wrap--only-active .fotorama__stage,
.fotorama__wrap--only-active .fotorama__nav {
  max-width: 99999px !important; }

.fotorama__wrap--only-active .fotorama__stage__frame {
  visibility: hidden; }

.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible; }

.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  z-index: 5; }

.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left; }

.fotorama__nav__frame {
  position: relative;
  cursor: pointer; }

.fotorama__nav--dots {
  display: block; }
  .fotorama__nav--dots .fotorama__nav__frame {
    width: 18px;
    height: 30px; }
  .fotorama__nav--dots .fotorama__nav__frame--thumb,
  .fotorama__nav--dots .fotorama__thumb-border {
    display: none; }

.fotorama__nav--thumbs {
  display: block; }
  .fotorama__nav--thumbs .fotorama__nav__frame {
    padding-left: 0 !important; }
    .fotorama__nav--thumbs .fotorama__nav__frame:last-child {
      padding-right: 0 !important; }
  .fotorama__nav--thumbs .fotorama__nav__frame--dot {
    display: none; }

.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid gray; }
  .fotorama__nav__frame:focus .fotorama__dot:after {
    padding: 1px;
    top: -1px;
    left: -1px; }
  .fotorama__nav__frame.fotorama__active .fotorama__dot {
    width: 0;
    height: 0;
    border-width: 3px; }
    .fotorama__nav__frame.fotorama__active .fotorama__dot:after {
      padding: 3px;
      top: -3px;
      left: -3px; }

.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }
  .fotorama__nav__frame:focus .fotorama__thumb {
    z-index: 2; }

.fotorama__thumb-border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #00b0eb;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1)); }

.fotorama__caption {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000; }
  .fotorama__caption a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.5); }
    .fotorama__caption a:hover {
      color: #333;
      border-color: rgba(51, 51, 51, 0.5); }
  .fotorama__wrap--rtl .fotorama__caption {
    left: auto;
    right: 0; }
  .fotorama__wrap--video .fotorama__caption,
  .fotorama__wrap--no-captions .fotorama__caption {
    display: none; }

.fotorama__caption__wrap {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fotorama__wrap--css3 .fotorama__spinner {
  -webkit-animation: spinner 24s infinite linear;
          animation: spinner 24s infinite linear; }

.fotorama__wrap--css3 .fotorama__stage .fotorama__img,
.fotorama__wrap--css3 .fotorama__html {
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0.3s; }

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0; }

.fotorama__select {
  cursor: auto; }

.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10; }

/* Strange fix of the #66 issue (Firefox bug while sliding backwards) */
@-moz-document url-prefix() {
  .fotorama__active {
    box-shadow: 0 0 0 transparent; } }

.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  position: absolute;
  z-index: 11;
  cursor: pointer; }

.fotorama__arr {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0.75em;
  right: 0.75em;
  margin-top: -20px;
  background: url("/img/icons/prev.svg") center no-repeat;
  background-color: #ff2731;
  background-size: 40%;
  transition: .25s ease; }
  .fotorama__arr:hover {
    background-color: #ad1a21; }

.fotorama__arr--prev {
  right: 3.2em; }

.fotorama__arr--next {
  background-image: url("/img/icons/next.svg"); }

.fotorama__fullscreen-icon {
  width: 40px;
  height: 40px;
  top: 0.75em;
  right: 0.75em;
  background: #ff2731 url("/img/icons/full.svg") center no-repeat;
  z-index: 20; }

.fotorama__video-play {
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
  background-position: 0 -80px;
  opacity: 0; }
  .fotorama__wrap--css2 .fotorama__video-play,
  .fotorama__wrap--video .fotorama__stage .fotorama__video-play {
    display: none; }
  .fotorama__loaded .fotorama__video-play,
  .fotorama__error .fotorama__video-play,
  .fotorama__nav__frame .fotorama__video-play {
    opacity: 1;
    display: block; }
  .fotorama__nav__frame .fotorama__video-play {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    background-position: -80px -40px; }

.fotorama__video-close {
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  background-position: -80px 0;
  z-index: 20;
  opacity: 0; }
  .fotorama__wrap--css2 .fotorama__video-close {
    display: none; }
  .fotorama__wrap--css3 .fotorama__video-close {
    -webkit-transform: translate3d(40px, -40px, 0);
            transform: translate3d(40px, -40px, 0); }
  .fotorama__wrap--video .fotorama__video-close {
    display: block;
    opacity: 1; }
  .fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  opacity: 0 !important; }

.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  display: none; }
  .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
  .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
    display: block; }

.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
  display: none !important; }

.fotorama__wrap--css3 .fotorama__arr:not(:focus),
.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),
.fotorama__wrap--css3 .fotorama__video-play:not(:focus),
.fotorama__wrap--css3 .fotorama__video-close:not(:focus) {
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.3s; }

.fotorama__stage:before, .fotorama__stage:after, .fotorama__nav:before, .fotorama__nav:after {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%; }

.fotorama__stage:before, .fotorama__nav:before {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 0 0, 0 0;
  left: -10px; }

.fotorama__stage.fotorama__shadows--left:before, .fotorama__nav.fotorama__shadows--left:before {
  left: 0; }

.fotorama__stage:after, .fotorama__nav:after {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 100% 0, 100% 0;
  right: -10px; }

.fotorama__stage.fotorama__shadows--right:after, .fotorama__nav.fotorama__shadows--right:after {
  right: 0; }

.fotorama--fullscreen .fotorama__stage:before, .fotorama--fullscreen .fotorama__stage:after,
.fotorama--fullscreen .fotorama__nav:before,
.fotorama--fullscreen .fotorama__nav:after,
.fotorama__wrap--no-shadows .fotorama__stage:before,
.fotorama__wrap--no-shadows .fotorama__stage:after,
.fotorama__wrap--no-shadows .fotorama__nav:before,
.fotorama__wrap--no-shadows .fotorama__nav:after,
.fotorama__wrap--fade .fotorama__stage:before,
.fotorama__wrap--fade .fotorama__stage:after {
  display: none; }

.dark {
  background-color: #f2f2f2; }

.section {
  padding: 1em 0; }

.title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  padding: 0 0.5em;
  margin-bottom: 1em;
  border-left: 10px solid #ff2731; }
  .title > .subtitle {
    font-size: 0.875rem;
    margin-bottom: 0; }

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5em; }

.all-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  padding: 0.5em 1em; }

.breadcrumbs {
  padding: 1em 0;
  color: #383838;
  font-size: 0.875rem;
  margin-left: -0.5em; }
  .breadcrumbs a {
    padding: 0.25em 0;
    font-size: 0.875rem;
    color: #ff2731;
    display: block; }
    .breadcrumbs a span {
      text-decoration: underline; }
      .breadcrumbs a span:hover {
        text-decoration: none; }
  .breadcrumbs span {
    padding: 0.25em 0.25em;
    display: inline-block; }

.btn {
  display: block;
  background: #ff2731;
  color: #fff;
  padding: 0.75em;
  transition: .25s ease;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer; }
  .btn:hover {
    background-color: #ad1a21; }

.slider__list {
  padding: 2em 0;
  margin-bottom: 2em; }
  .slider__list .owl-prev,
  .slider__list .owl-next {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #ff2731;
    transition: .25s ease; }
    .slider__list .owl-prev:hover,
    .slider__list .owl-next:hover {
      background-color: #ad1a21; }
  .slider__list svg {
    max-width: 100%;
    max-height: 100%; }
  .slider__list .owl-controls {
    position: absolute;
    bottom: 2.5em;
    right: 0.5em; }

.slider__item {
  height: 157px;
  background: center no-repeat;
  background-size: cover; }
  .slider__item a {
    display: block;
    width: 100%;
    height: 100%; }

.pagination {
  text-align: center;
  padding: 1.25em 0; }
  .pagination ul {
    width: 100%;
    text-align: center; }
  .pagination .page-numbers {
    color: #20262e;
    font-size: 0.875em;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    color: #383838;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: .25s ease; }
    .pagination .page-numbers:hover {
      color: #ff2731; }
    .pagination .page-numbers.current {
      background: #ff2731;
      color: #fff; }
      .pagination .page-numbers.current:hover {
        color: #fff; }
    .pagination .page-numbers svg {
      max-width: 60%;
      max-height: 60%;
      fill: #bababa;
      transition: .25s ease; }
    .pagination .page-numbers.next, .pagination .page-numbers.prev {
      padding-top: 0.5em;
      box-sizing: border-box; }
      .pagination .page-numbers.next:hover svg, .pagination .page-numbers.prev:hover svg {
        fill: #ff2731; }

.article__title {
  color: #383838;
  margin: 0;
  font-size: 2.25em;
  font-weight: 700; }

.article__date {
  color: #737373;
  font-size: 0.875rem;
  padding: 0.5em 0;
  display: block;
  margin-bottom: 0.75em; }

.content {
  max-width: 780px;
  margin: 0 auto 1em; }

.text {
  color: #20262e;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75em;
  margin-bottom: 2em; }
  .text b {
    font-weight: 700; }
  .text p {
    margin-bottom: 0.75em; }
  .text ul {
    padding-left: 0.5em;
    margin-bottom: 1em;
    padding-left: 2em; }
  .text li {
    display: list-item;
    list-style: initial;
    list-style-position: outside; }
  .text a {
    color: #20262e; }
    .text a:hover {
      text-decoration: none; }

.photogallery {
  margin-bottom: 1em;
  background-color: #f2f2f2; }

.service__banner {
  background: url("/img/bg/service-bg.png") center no-repeat;
  background-size: cover; }
  .service__banner .container {
    min-height: 300px;
    position: relative; }

.service__title {
  width: 450px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1em 0;
  color: #fff;
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(255, 39, 49, 0.8); }
  .service__title span {
    position: absolute;
    top: 50%;
    padding: 0 0.5em;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.service .section {
  padding: 2em 0; }

.service__top {
  background-color: #f2f2f2; }
  .service__top .content {
    padding: 0.5em 0 1.5em; }

.table {
  width: 100%;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 2em; }
  .table thead {
    background-color: #ff2731;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
  .table th {
    padding: 1em 0.5em;
    border-right: 1px solid #ffffff; }
  .table td {
    border: 1px solid #f2f2f2;
    padding: 1em 0.5em; }

.table__row {
  border-bottom: 1px solid  #f2f2f2;
  border-top: 1px solid  #f2f2f2; }

.table__caption {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5em; }

.video-block {
  padding: 2em; }

.header {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding-top: 1em;
  transition: .25s ease; }
  .header > .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 1em; }

.fix-header .header .main-nav {
  display: none; }

.fix-header .header__contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.fix-header .header__tel {
  padding-left: 0.5em; }

.fix-header .menu__list {
  margin-right: 0.5em; }
  .fix-header .menu__list li.fix-show {
    display: inline-block; }

.fix-header .to-Top {
  visibility: visible; }

.fix-header .header {
  padding: 0; }
  .fix-header .header > .container {
    padding: 0.25em 1em 0; }

.fix-header .logo__icon {
  width: 30px;
  height: 30px; }

.fix-header .logo__block {
  line-height: 1em; }
  .fix-header .logo__block span {
    line-height: 1em;
    font-size: 1.125em; }

.fix-header .class__title,
.fix-header .class__list a {
  padding: 0.5em 0.25em; }

.fix-header .order-btn,
.fix-header .call-btn {
  font-size: 0;
  width: 32px;
  height: 32px; }

.logo__wrap {
  padding: 0.25em 0.5em;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px; }

.logo__icon {
  width: 74px;
  height: 74px;
  margin-right: 1.3em;
  transition: .35s ease; }
  .logo__icon img {
    max-width: 100%;
    max-height: 100%; }

.logo__block {
  color: #231f20;
  font-size: 0.938rem; }
  .logo__block span {
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    color: #ff2731;
    font-size: 2rem;
    line-height: 1.3em; }

.order-btn {
  display: block;
  background: #383838 url("/img/icons/gear.svg") 7px center no-repeat;
  background-size: 17px 20px;
  color: #fff;
  padding: 0.75em;
  padding-left: 2.5em;
  transition: .25s ease;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase; }
  .order-btn:hover {
    background-color: #525252; }

.header__contact {
  text-align: right;
  padding: 0 0.75em; }

.header__tel {
  display: block;
  color: #383838;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5em 0;
  margin-bottom: 0.8em; }
  .header__tel:before {
    content: '';
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.25em;
    display: inline-block;
    vertical-align: middle;
    background: url("/img/icons/phone.svg") center no-repeat;
    background-size: contain; }

.call-btn {
  display: block;
  background: #ff2731 url("/img/icons/calendar.svg") 7px center no-repeat;
  background-size: 17px 20px;
  color: #fff;
  padding: 0.75em;
  padding-left: 2.5em;
  transition: .25s ease;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase; }
  .call-btn:hover {
    background-color: #ad1a21; }

.main-nav {
  transition: .25s ease;
  margin-bottom: 0.8em; }
  .main-nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .main-nav li:first-child a:before {
    display: none; }
  .main-nav a {
    padding: 0.5em 0;
    display: block;
    color: #20262e;
    font-size: 1rem;
    transition: .25s ease; }
    .main-nav a:before {
      content: '|';
      display: inline-block;
      padding: 0 0.25em; }
    .main-nav a:hover {
      color: #ff2731; }
    .main-nav a:hover:before {
      color: #383838; }

.extra-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .extra-menu .order-btn {
    margin-left: 1.5em; }
  .extra-menu .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: 0.75em;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 0.188em 0.313em rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    padding-top: 10px;
    box-sizing: border-box; }
    .extra-menu .sub-menu:before {
      content: '';
      width: 0;
      height: 0;
      top: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      border-color: transparent transparent rgba(56, 56, 56, 0.9) transparent; }
    .extra-menu .sub-menu li {
      display: block;
      background-color: rgba(56, 56, 56, 0.9); }
    .extra-menu .sub-menu a {
      font-size: 0.875em;
      color: #fff;
      padding: 0.5em 1em; }
      .extra-menu .sub-menu a:hover {
        background-color: #525252; }
      .extra-menu .sub-menu a:before {
        display: none; }

.menu__list li {
  display: inline-block;
  position: relative; }
  .menu__list li.fix-show {
    display: none; }

.menu__list > li:hover .sub-menu {
  visibility: visible;
  opacity: 1; }

.menu__list > li:first-child a:before {
  display: none; }

.menu__list > li a:before {
  content: '|';
  display: inline-block;
  padding: 0 0.5em; }

.menu__list a {
  padding: 0.5em 0;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #383838;
  transition: .25s ease;
  cursor: pointer; }
  .menu__list a:hover {
    color: #ff2731; }
  .menu__list a:hover:before {
    color: #383838; }

.models {
  padding: 5em 0 1em; }

.models-nav {
  font-size: 0.875rem;
  padding: 2em 0; }
  .models-nav .menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .models-nav .menu > li {
    width: 15%;
    margin: 0.5em;
    padding: 0.75em;
    box-sizing: border-box;
    position: relative;
    transition: .25s ease; }
    .models-nav .menu > li:hover {
      background-color: #f2f2f2; }
    .models-nav .menu > li:hover .sub-menu {
      max-height: 1000px; }
    .models-nav .menu > li:hover .menu_models:before {
      -webkit-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
              transform: rotate(60deg); }
  .models-nav a {
    display: block; }
  .models-nav img {
    max-width: 100%;
    max-height: 100%; }
  .models-nav .sub-menu {
    background: #383838;
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    top: 100%;
    transition: .45s ease-in-out;
    max-height: 0;
    z-index: 9; }
    .models-nav .sub-menu .menu_title {
      color: #fff;
      font-weight: 400;
      padding: 0.35em 0.75em; }
      .models-nav .sub-menu .menu_title:hover {
        background: #454545;
        color: #ff2731; }

.menu_thumb {
  height: 5em;
  background: center no-repeat;
  background-size: contain; }

.menu_title {
  font-weight: 700;
  text-transform: uppercase;
  color: #383838;
  transition: .25s ease; }
  .menu_title:hover {
    color: #ff2731; }

.menu_models {
  color: #737373;
  cursor: pointer;
  padding-right: 1.5em; }
  .menu_models:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-right: 5px;
    transition: .25s ease;
    margin-bottom: 2px;
    border-style: solid;
    border-width: 7px 4px 0 4px;
    border-color: #ff2731 transparent transparent transparent; }

.class {
  background-color: #e8e8e8;
  text-align: center;
  font-size: 0.875em; }
  .class .container {
    position: relative; }

.class__title {
  display: inline-block;
  padding: 0.75em;
  font-weight: 700;
  color: #383838;
  margin: 0; }

.class__list {
  display: inline-block; }
  .class__list li {
    display: inline-block; }
  .class__list a {
    display: block;
    padding: 0.75em 0.2em;
    font-weight: 700;
    color: #737373;
    transition: 0.25s ease; }
    .class__list a:hover {
      color: #ff2731; }

.to-Top {
  visibility: hidden;
  position: absolute;
  right: 2.5em;
  top: 52%;
  opacity: 0.25;
  transition: .25s ease;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .to-Top:hover {
    opacity: 0.5; }

.contact {
  padding-top: 1em; }
  .contact .title {
    margin-bottom: 1.4em; }

.contact__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.75em; }

.contact__block {
  width: 25%;
  padding: 0.75em;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.71; }
  .contact__block .subtitle {
    margin-bottom: 0.75em;
    line-height: 1.25em; }
  .contact__block a:hover {
    text-decoration: underline; }

.contact__link {
  display: block; }

.contact__item {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.75em;
  color: #383838;
  position: relative;
  padding-left: 1.6em; }

.contact__icon {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 1rem;
  height: 1rem; }
  .contact__icon svg {
    max-width: 100%;
    max-height: 100%;
    fill: #ff2731; }

.contact__img {
  height: 0;
  padding-bottom: 38%;
  background: center no-repeat;
  background-size: cover;
  margin-bottom: 1em; }

#map {
  height: 520px; }

address.contact__item .contact__icon {
  top: 5px; }

.label {
  display: block;
  width: 100%;
  font-size: 0.875em;
  margin-bottom: 0.5em; }

.input {
  display: block;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #cfd8dc;
  font-size: 0.875em;
  margin-bottom: 1em; }
  .input::-webkit-input-placeholder {
    color: rgba(56, 56, 56, 0.4); }
  .input:-moz-placeholder {
    color: rgba(56, 56, 56, 0.4); }
  .input::-moz-placeholder {
    color: rgba(56, 56, 56, 0.4); }
  .input:-ms-input-placeholder {
    color: rgba(56, 56, 56, 0.4); }

.textarea {
  border: 1px solid #cfd8dc;
  background: #f5f5f5;
  padding: 0.5em;
  font-size: 0.875em;
  box-sizing: border-box;
  display: block;
  width: 100%; }
  .textarea::-webkit-input-placeholder {
    color: rgba(56, 56, 56, 0.4); }
  .textarea:-moz-placeholder {
    color: rgba(56, 56, 56, 0.4); }
  .textarea::-moz-placeholder {
    color: rgba(56, 56, 56, 0.4); }
  .textarea:-ms-input-placeholder {
    color: rgba(56, 56, 56, 0.4); }

.feedback {
  padding: 1em 0 2em;
  background: url("/img/bg/feedback.png") center no-repeat;
  background-size: cover;
  position: relative; }
  .feedback:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(242, 242, 242, 0.9); }

#comments-status {
  float: right;
  display: none;
  font-size: 1em;
  font-weight: normal; }

.form-submit {
  text-align: right;
  padding-top: 0.5em; }
  .form-submit .btn {
    display: inline-block; }

.comment-respond {
  padding: 1.5em 2em 2em;
  margin-top: 2.5em;
  background: #fff; }

.comments-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1em; }
  .comments-wrap .input {
    padding: 0.75em; }

.comment-form-author,
.comment-form-email {
  width: 50%;
  padding: 1em;
  box-sizing: content-box; }

.comment-reply-title {
  font-size: 1.5em;
  margin-bottom: 0.75em; }

.logged-in-as {
  margin-bottom: 1em; }
  .logged-in-as a {
    color: #383838;
    font-size: 0.875em;
    text-decoration: underline; }
    .logged-in-as a:hover {
      color: #ff2731; }

.comment-list {
  font-size: 0.875em;
  padding: 0.5em 0 1.5em; }

.comment-item {
  padding: 1em 0; }

.comment-author {
  font-weight: 700;
  margin-right: 1em; }

.comment-meta {
  margin-bottom: 0.75em; }

.comment-date {
  color: #737373; }

.comment-text {
  line-height: 1.75em; }

.modal {
  position: fixed;
  top: 49.5%;
  left: 49.5%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 1010;
  width: 380px;
  max-width: 100%;
  max-height: 100%;
  visibility: hidden; }
  .modal.modal-show {
    visibility: visible; }
  .modal .textarea {
    margin-bottom: 1em; }

.modal__content {
  padding: 1.5em;
  box-sizing: border-box;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
  background: #fff;
  opacity: 0;
  transition: all 0.3s; }

.modal-show .modal__content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.modal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  background: url("/img/icons/close.svg") center no-repeat;
  background-size: contain;
  opacity: 0.2;
  transition: .25s ease; }
  .modal__close:hover {
    opacity: 0.75; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1002;
  background: rgba(56, 56, 56, 0.93);
  transition: all 0.3s; }

.modal-show ~ .overlay {
  opacity: 1;
  visibility: visible; }

.modal__success {
  display: none; }

.front-slider .container {
  position: relative;
  height: 509px; }

.front-slider__list {
  position: absolute; }
  .front-slider__list .owl-nav {
    display: none; }
  .front-slider__list .owl-dots {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1em; }
    .front-slider__list .owl-dots .owl-dot {
      display: inline-block;
      background-color: #fff;
      padding: 5px;
      margin: 3px; }
      .front-slider__list .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        display: block; }
      .front-slider__list .owl-dots .owl-dot.active span {
        background-color: #ff2731; }

.slider-controls {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  z-index: 1000; }

.slider-prev,
.slider-next {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: #ff2731;
  transition: .25s ease; }
  .slider-prev:hover,
  .slider-next:hover {
    background-color: #ad1a21; }
  .slider-prev svg,
  .slider-next svg {
    max-width: 100%;
    max-height: 100%; }

.offer-slider__wrap {
  width: 400px;
  position: absolute;
  z-index: 1000;
  bottom: 2em; }

.offer-slider__list {
  padding: 2em 1.5em 3em;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(255, 39, 49, 0.8); }
  .offer-slider__list .owl-controls {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em; }

.offer-slider__item {
  padding: 0 0.5em;
  box-sizing: border-box; }

.front-slider__item {
  width: 100%;
  height: 509px;
  background: center no-repeat;
  background-size: cover; }

.offer-slider__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase; }

.offer-slider__subtitle {
  font-size: 1.5rem;
  font-weight: 400; }

.offer-slider__more {
  display: block;
  padding-top: 1.5em;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase; }
  .offer-slider__more:hover {
    text-decoration: none; }

.front-offers {
  padding: 4.3em 0 2em; }
  .front-offers .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .front-offers .offers__list {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em 0; }
  .front-offers .offers__item {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .front-offers .offers__title {
    font-size: 1.5em;
    text-decoration: underline;
    margin: -0.375em 0 0.75em; }
    .front-offers .offers__title:hover {
      text-decoration: none; }
  .front-offers .offers__img {
    width: 30%;
    height: 100px;
    padding-bottom: 0; }
  .front-offers .offers__wrap {
    width: 70%;
    padding: 0 1em;
    box-sizing: border-box; }

.front-offers__block {
  width: 50%; }
  .front-offers__block .text {
    padding-right: 2em; }

.front-news {
  background: url("/img/bg/new-bg.png") center bottom 20% no-repeat;
  background-size: cover;
  position: relative; }
  .front-news .title {
    color: #fff; }
  .front-news:before {
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(56, 56, 56, 0.9); }

.cat-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.5em;
  margin-bottom: 1.75em; }
  .cat-list li {
    display: block;
    padding: 0 0.5em; }
  .cat-list a {
    background-color: #e8e8e8;
    padding: 0.75em 1em;
    color: #383838;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: .25s ease; }
    .cat-list a:hover {
      background-color: #ff2731;
      color: white; }

.current-cat a {
  background-color: #ff2731;
  color: white; }

.post-categories {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.25em 0.5em; }
  .post-categories a {
    color: #ba1b22;
    padding: 0.5em 0.5em;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase; }
  .post-categories .instructions a {
    color: #47a0fb; }
  .post-categories .articles a {
    color: #0a517a; }
  .post-categories .reviews a {
    color: #ff7d27; }
  .post-categories .advices a {
    color: #2275a4; }

.post__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -0.75em; }

.post__item {
  width: 50%;
  padding: 0.75em 0.75em;
  box-sizing: border-box; }

.post__wrap {
  background-color: #fff;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.post__img {
  -webkit-flex: 1.15;
      -ms-flex: 1.15;
          flex: 1.15;
  background: left center no-repeat;
  background-size: cover; }

.post__inner {
  box-sizing: border-box;
  padding: 1em  1em;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-bottom: 40px; }

.post__title {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
  color: #383838;
  margin-bottom: 0.5em; }

.post__date {
  font-size: 0.875em;
  font-weight: 400;
  color: #737373;
  margin-bottom: 1.3em; }

.post__more {
  display: block;
  width: 40px;
  height: 40px;
  background: #ff2731 url("/img/icons/next.svg") center no-repeat;
  background-size: 35%;
  transition: .25s ease;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em; }
  .post__more:hover {
    background-color: #ad1a21; }

.news-archive {
  padding: 1em 0; }
  .news-archive .title {
    margin-bottom: 1.2em; }

.other-posts {
  padding: 4em 0; }
  .other-posts .post__item {
    width: 33.33%; }
  .other-posts .post__inner {
    position: relative;
    background: #fff;
    margin-bottom: 0; }

.services {
  padding: 1em 0 3em; }

.services__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0; }

.services__item {
  width: 20%;
  padding: 0.75em;
  box-sizing: border-box;
  height: 250px;
  text-align: center;
  position: relative; }

.services__link {
  padding: 0.5em;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #fff;
  font-size: 0.875rem;
  color: #20262e;
  font-weight: 700;
  text-transform: uppercase;
  transition: .25s ease-in-out; }
  .services__link:hover {
    color: #ff2731; }
    .services__link:hover .services__btn {
      opacity: 1; }

.services__img {
  margin: 1em 0;
  width: 100%;
  height: 110px;
  background: center no-repeat;
  background-size: contain; }

.services__btn {
  display: block;
  width: 40px;
  height: 40px;
  background: #ff2731 url("/img/icons/next.svg") center no-repeat;
  background-size: 40%;
  transition: .25s ease;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  opacity: 0;
  position: absolute;
  bottom: 1.25em;
  right: 1.25em; }
  .services__btn:hover {
    background-color: #ad1a21; }

.other-service {
  background: #383838;
  padding: 1em 0; }

.other-service__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -1em; }

.other-service__item {
  width: 25%;
  box-sizing: border-box;
  padding: 1em 1em; }

.other-service__link {
  color: white;
  font-size: 0.875em;
  text-decoration: underline;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .other-service__link:hover {
    text-decoration: none;
    color: #ff2731; }

.other-service__img {
  width: 80px;
  height: 80px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  box-sizing: border-box; }
  .other-service__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    max-width: 100%;
    max-height: 100%; }

.other-service__title {
  padding-left: 2em;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  box-sizing: border-box; }

.front-service {
  background: #f2f2f2;
  padding: 4.3em 0 1em; }
  .front-service .services__list {
    padding: 0;
    margin: 0 -0.75em; }
  .front-service .services__item {
    width: 25%;
    height: 300px; }
  .front-service .services__item:nth-child(5),
  .front-service .services__item:nth-child(6) {
    width: 50%;
    height: 350px; }
    .front-service .services__item:nth-child(5) .services__img,
    .front-service .services__item:nth-child(6) .services__img {
      height: 200px; }

.tile {
  padding: 2em 0; }

.offers {
  padding: 1em 0; }

.offers__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -0.75em; }

.offers__item {
  width: 25%;
  padding: 0 0.75em;
  box-sizing: border-box;
  margin-bottom: 2em; }
  .offers__item .text {
    margin-bottom: 0; }

.offers__title {
  display: block;
  color: #383838;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1em;
  transition: .25s ease; }
  .offers__title:hover {
    color: #ff2731; }

.offers__img {
  width: 100%;
  display: block;
  height: 0;
  padding-bottom: 56%;
  background: url("/img/bg/offer-1.png") center no-repeat;
  background-size: cover;
  margin-bottom: 1em;
  position: relative; }

.offers__date {
  background-color: rgba(255, 39, 49, 0.8);
  color: #fff;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5em;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em; }

.offers__more {
  display: inline;
  font-weight: 600;
  color: #ff2731;
  text-decoration: underline; }
  .offers__more:hover {
    text-decoration: none; }

.footer {
  min-width: 1240px;
  background-color: #e8e8e8; }
  .footer .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .contact__icon svg {
    fill: white; }

.footer__contact-wrap {
  padding: 1em;
  background: #ff2731;
  color: #fff; }

.footer__block {
  padding: 1em 0.75em; }

.footer__title {
  color: #20262e;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.4em; }

.footer__list a {
  display: block;
  padding: 0.5em 0;
  color: #737373;
  font-size: 0.875rem; }
  .footer__list a:hover {
    text-decoration: underline; }

.description {
  font-size: 0.875em;
  color: #737373;
  line-height: 1.71; }

.footer__bottom {
  background-color: #fff; }
  .footer__bottom .container {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.copyright {
  color: #737373;
  font-size: 0.875rem; }

.footer__info {
  width: 60%; }
  .footer__info .logo__wrap {
    margin-bottom: 0.9em; }

.footer__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%; }

.footer__list-wrap {
  padding: 1.75em 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%; }

.footer__info {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  padding-right: 1.5em; }

.footer__contact-wrap {
  padding: 2.1em 1em 1em;
  width: 40%; }

.footer__contact .contact__item {
  color: white; }

.footer__contact svg {
  fill: white; }

.footer__contact a {
  white-space: nowrap; }
  .footer__contact a:hover {
    text-decoration: underline; }

.social__link {
  display: inline-block;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  margin: 0 3px;
  transition: .25s ease; }
  .social__link svg {
    max-width: 100%;
    max-height: 100%; }
  .social__link:hover {
    opacity: 1; }

.substrate {
  background: url("/img/bg/feedback.png") center no-repeat;
  background-size: cover;
  position: relative;
  padding: 1.5em 0 0.75em; }
  .substrate:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(242, 242, 242, 0.9); }
  .substrate .content {
    position: relative;
    z-index: 1; }
